---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import Social from "../components/Social.astro";
import Experience from "../components/Experience.astro";

import LinkedIdIcon from "../icons/linked-in.astro";
import GithubIcon from "../icons/github.astro";
import MailIcon from "../icons/mail.astro";
import PortfolioIcon from "../icons/portfolio.astro";
---

<Layout
  title="Portfolio casobrino"
  description="Desarrollador y programador web de Merida Yucatan"
>
  <main>
    <SectionContainer class="pt-44 pb-24">
      <h1 class="font-bold text-white text-5xl flex flex-row gap-x-5 pb-4">
        Hello! soy Sobrino
        <div class="flex items-center">
          <a href="#" rel="noopener" target="_blank" class="flex items-center">
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-xl text-wrap">
        <span>+2 años de experiencia.</span> Desarrollador Web de Yucatán, México.
        Desarrollador de Software que sueña con un mundo mejor. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Hic sapiente optio perspiciatis voluptatum.
        Deserunt doloremque, sit minus sequi totam.
      </h2>
      <nav class="flex gap-2 my-10 justify-center">
        <Social href="https://linkedin/in/casobrino.com">
          <LinkedIdIcon class="size-6" />
          LinkedIn
        </Social>
        <Social href="https://linkedin/in/casobrino.com">
          <GithubIcon class="size-6" />
          Github
        </Social>
        <Social href="mailto:casobrino_0@hotmail.com">
          <MailIcon class="size-6" />
          Email
        </Social>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="2xl font-semibold mb-6 flex gap-x-2">
        <PortfolioIcon class="size-6" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
